<!-- <p id="notice"><%= notice %></p>
 -->
<hr>
<h3><%= link_to "Barang Jualan", analysis_sell_path%></h3>
<div class="box"></div>kuantiti semasa kurang daripada minimum stok
<div class="table-responsive">

<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      
      <th>Kuantiti Semasa</th>
      <th>Unit</th>
      <th>Transaksi</th>
      <th>Tambah</th>
      <th>Tolak</th>
    </tr>
  </thead>

  <tbody>
    <% @completes.each do |complete| %>
      <%if complete.current_stock <= complete.minimum_stock%>
        <tr class="danger">
      <%else%>
        <tr>
      <%end%>
        <td><%= link_to complete.name, complete %></td>
        <td><%= complete.current_stock %></td>
        <td><%= complete.unit %></td>
        <td align="center">
            <%= link_to complete do %>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>

            <% end %>
          </td>
          <td align="center">
            <%= link_to new_complete_complete_transaction_path(complete) do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

            <% end %>
          </td>
          <td align="center">
            <%= link_to kurang_complete_complete_transactions_path(complete) do %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>

            <% end %>
          </td>        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to new_complete_path do%>
  <button class="btn btn-primary">Tambah Barang Jualan</button>
<% end %>
