<!-- <p id="notice"><%= notice %></p>
 -->
<p>
  <strong>Nama:</strong>
  <%= @complete.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @complete.unit %>
</p>

<p>
  <strong>Minimum stok:</strong>
  <%= @complete.minimum_stock %>
</p>

<p>
  <strong>Kuantiti Terkini:</strong>
  <%= @complete.current_stock %>
</p>



<%= link_to 'Edit', edit_complete_path(@complete) %> |
<%= link_to 'Back', dashboard_index_path %> |
<%= link_to 'Destroy', @complete, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= render 'complete_transactions/index'%>