<%= form_for([@complete, @complete_transaction]) do |f| %>
  <% if @complete_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@complete_transaction.errors.count, "error") %> prohibited this complete_transaction from being saved:</h2>

      <ul>
      <% @complete_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_date, "Tarikh Transaksi" %><br>
    <%= f.date_select :f_date %>
  </div>
  <div class="field">
      <%= f.label :f_type, 'Jenis Transaksi' %><br>
      <%= f.radio_button :f_type, 'tambah', :checked => true %>
      <%= label :f_type_tambah, 'tambah' %>
  </div>
  <div class="field">
    <%= f.label :f_quantity, "Kuantiti" %><br>
    <%= f.number_field :f_quantity %>
  </div>
  <div class="field">
    <%= f.hidden_field :f_total_sell, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan Transaksi", class: "btn btn-primary"  %>
  </div>
<% end %>
