
<h3>Senarai Transaksi</h3>
<div class="box2"></div>Bahan Kurang
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tarikh Transaksi</th>
      <th>Jenis Transaksi</th>
      <th>Kuantiti</th>
      
      <th>Harga Seunit</th>
      <th>Jumlah Harga</th>
      <th>Pembekal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material.raw_transactions.each do |raw_transaction| %>
    <%if raw_transaction.t_type === 'kurang'%>      
      <tr class="info">
    <%else%>
      <tr>
    <%end %>
     
        <td><%= raw_transaction.t_date %></td>
        <td><%= raw_transaction.t_type %></td>
        <td><%= raw_transaction.t_quantity %></td>
        <td><%= number_to_currency(raw_transaction.t_price_unit, unit:"RM ") %></td>
        <td><%= number_to_currency(raw_transaction.t_total_price, unit:"RM ") %></td>
        
        <td><%= raw_transaction.t_supplier %></td>
<!--         <td><%= raw_transaction.material_id %></td>
 -->        <td><%= link_to 'Papar', 
  material_raw_transaction_path(@material, raw_transaction) %> </td>
        
        <td><%= link_to 'Delete', material_raw_transaction_path(@material, raw_transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to new_material_raw_transaction_path(@material) do%>
  <button class="btn btn-primary">Tambah Bahan</button>
<% end %>
<%= link_to kurang_material_raw_transactions_path(@material) do%>
  <button class="btn btn-info">Tolak Bahan</button>
<% end %>







