
<p>
  <strong>Tarikh Transaksi:</strong>
  <%= @raw_transaction.t_date %>
</p>

<p>
  <strong>Jenis Transaksi: </strong>
  <%= @raw_transaction.t_type %>
</p>

<p>
  <strong>Kuantiti: </strong>
  <%= @raw_transaction.t_quantity %>
</p>

<p>
  <strong>Jumlah Harga:</strong>
  <%= @raw_transaction.t_total_price %>
</p>

<p>
  <strong>Harga Seunit:</strong>
  <%= @raw_transaction.t_price_unit %>
</p>

<p>
  <strong>Pembekal:</strong>
  <%= @raw_transaction.t_supplier %>
</p>




<%= link_to 'Kembali', @material %>

