<p id="notice"><%= notice %></p>

<h3>Bahan Mentah | <em><%= link_to "analisis", analysis_home_path%></em></h3>

<table class="table">
  <thead>
    <tr>
      <th>Nama Bahan</th>
      <th>Kuantiti Semasa</th>
      <th>Unit</th>
      <th align="center">Transaksi</th>
      <th align="center">Masuk</th>
      <th align="center">Keluar</th>
      
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
      <% if material.current_stock < material.minimum_stock%>
        <tr class="danger">'
      <% else %>
        <tr>
       <% end %>
          <td><%= link_to material.name, material %></td>
          <td><%= material.current_stock %></td>
          <td><%= material.unit %></td>
          
          <td align="center">
            <%= link_to material do %>
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>

            <% end %>
          </td>
          <td align="center">
            <%= link_to new_material_raw_transaction_path(material) do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

            <% end %>
          </td>
          <td align="center">
            <%= link_to kurang_material_raw_transactions_path(material) do %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>

            <% end %>
          </td>
          
          
       
        </tr>

    <%end%>
  </tbody>
</table>

<br>

<%= link_to new_material_path do%>
  <button class="btn btn-primary">Tambah Bahan Mentah</button>
<% end %>
