
<h3>
  <strong>Kategori:</strong>
  <%= @expense.e_category %>
</h3>



<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Kembali', dashboard_index_path %> |
<%= link_to 'Delete', @expenses, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'expense_transactions/index'%>
